@model C2C2.Entities.Question;

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Product</h4>
    <hr />
    @Html.ValidationSummary(true)

    <div class="form-group">
        @Html.LabelFor(model => model.QuestionText, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.QuestionText)
            @Html.ValidationMessageFor(model => model.QuestionText)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ans1, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ans1)
            @Html.ValidationMessageFor(model => model.ans1)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ans2, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ans2)
            @Html.ValidationMessageFor(model => model.ans2)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ans3, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ans3)
            @Html.ValidationMessageFor(model => model.ans3)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ans4, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ans4)
            @Html.ValidationMessageFor(model => model.ans4)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.cans, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.cans)
            @Html.ValidationMessageFor(model => model.cans)
        </div>
    </div>
</div>

    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
